body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
}
div#content {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  flex: 1;
  background-color: #3e3e30;
}
div#clues {
  white-space: nowrap;
  overflow-y: auto;
  background-color: #585845;
  flex: 1;
  margin: 0;
  height: 100%;
}
div#clues .clue {
  margin-bottom: 5px;
  white-space: wrap;
  color: black;
  font-size: 20px;
  display: block;
  padding: 10px;
  border-radius: 3px;
  background-color: antiquewhite;
  border: 1px solid #7b6e57;
}
div#control {
  background-color: #4e4637;
  box-sizing: border-box;
  height: 10%;
  padding: 20px;
}
div#control label {
  color: white;
  font-size: 20px;
}
div#control input {
  background-color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #7b6e57;
}
div#control input:focus {
  border: 1px solid #7b6e57;
  outline: none;
  transform: scale(1.05);
}
div#control button {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #7b6e57;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: antiquewhite;
}
div#control button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
div.container {
  box-sizing: border-box;
  display: flex;
  height: 80%;
}
div#header {
  background-color: #4e4637;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 10%;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
div#header .logo {
  width: 60px;
  height: 60px;
  background-image: url('../src/CWAI.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
div#header span {
  padding: 0;
  margin-left: 10px;
  line-height: 70px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 50px;
  color: white;
}
span.letter-block {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  margin: 2px;
  height: 50px;
  width: 50px;
  background-color: antiquewhite;
  border: 1px solid #7b6e57;
  border-radius: 4px;
  vertical-align: top;
  transition-duration: 0.1s;
}
span.letter-block.start::after {
  content: attr(data-index);
  position: absolute;
  left: 0;
  top: -12px;
  color: #030303;
  font-size: 20px;
}
span.letter-block.disabled {
  background-color: #a1978a;
}
span.letter-block:focus-within {
  transform: scale(1.1);
}
span.letter-block input.letter-input {
  text-align: center;
  color: black;
  font: inherit;
  height: 50px;
  margin: 0;
  padding: 0;
  line-height: 50px;
  border: none;
  background-color: transparent;
  width: 100%;
  caret-color: transparent;
}
span.letter-block input.letter-input:focus {
  border: none;
  outline: none;
}
